extends layout

block content
  p.title  #{title}
  div.list
    each item in list
      div.listItem
        a.itemTitle(href=item.url) #{item.name}
        div.text #{item.description}

    else
      p There are no Categorys.