extends layout

block content

    p.title Edit Image
    p.text for the Category: #{name}
    if (image === null) 
        form.create(method='POST' action='' enctype="multipart/form-data")
            input.button(type="file" name="image")
            button.button(type='submit') Submit
    else
        a.button(href = "/shop/image/"+image._id+"/"+type+"/delete") Delete Image?
        div.imgWrap
            img(src=ImageUrl alt="Image not loaded") 
        