extends layout

block content

    h2 Edit Image for the Category: #{name}
    p #{description}

    
    if (image === null) 
        form(method='POST' action='' enctype="multipart/form-data")
            input(type="file" name="image")
            button(type='submit') Submit
    else
        img(src=ImageUrl alt="Image not loaded") 
        a(href = "/shop/image/"+image._id+"/"+type+"/delete") delete Image?