extends layout

block content
  div
    div.headline #{title}
    p Content Manager is a web app that helps you manage our shop inventory.
    p  Categorys: #{cats}
    p  Sub-Categorys: #{subCats}
    p  Products : #{prods}
  
