extends layout

block content

    div.title Content Manager
    p.text Content Manager is a web app that helps you manage your shop inventory.
    div.textWrap
      a.marked(href="shop/categorys")  Categorys:
      p #{cats}
    div.textWrap
      a.marked(href="shop/subcategorys") Sub-Categorys:
      p #{subCats}
    div.textWrap
      a.marked(href="shop/products")  Products:
      p #{prods}
  
