doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/classes.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js', defer)
  body
  div.outerWrap
      div.header
        div.nav 
          a(href="/shop") Home
        div.nav
          a(href="/shop/categorys") Categorys
        div.nav
          a(href="/shop/subcategorys") Subcategroys
        div.nav
          a(href="/shop/products") Products
        div#dropdown.nav Create New...
          div#menu
            a.nav(href="/shop/category/create") ...Category
            a.nav(href="/shop/subcategory/create") ...Subcategory
            a.nav(href="/shop/product/create") ...Product
      div.main 
        block content