extends layout

block content

  if img !== null 
    p Delete 
      a(href="/shop/product/"+prod._id+"/image") Image
      |  before attempting to delete this Product
  else
    h1 Delete Product: #{prod.name}

      p Do you really want to delete this Product?

      form(method='POST' action='')
        div
          input(type='hidden',name='productid', required='true', value=prod._id )

        button(type='submit') Delete
