extends layout

block content
  p.title Delete Product: "#{prod.name}"
  if img !== null 
    p Delete the connected 
      a.marked(href="/shop/product/"+prod._id+"/image") Image
      |  before attempting to delete this Product
  else
      p Do you really want to delete this Product?
      form(method='POST' action='')
        div
          input(type='hidden',name='productid', required='true', value=prod._id )
        button.button(type='submit') Delete
