extends layout

block content
  h1 Delete Product: #{prod.name}

    p Do you really want to delete this Product?

    form(method='POST' action='')
      div
        input(type='hidden',name='productid', required='true', value=prod._id )

      button(type='submit') Delete
