extends layout

block content
    p.title #{title}

    form.create(method='POST' action='' enctype="multipart/form-data")
        div.inputWrap
            label(for='name') Name:
            input.input#name(type='text', name='name', required,value=(undefined===name ? '' : name))
        div.inputWrap
            label(for='description') Description:
            input.input#description(type='text', name='description', required,value=(undefined===description  ? '' : description))
        div.inputWrap
            label(for="price") Price:
            input.input#price(type="number",step="0.01",name="price",required,value=(undefined === price?"":price))
        div.inputWrap
            label(for="subcategory")
            select.input(type='select' placeholder='Select Sub-Category' name='subcategory' required='true')
                option(value="") Select Sub-Category
                each option in SubCategorys
                    option(value=option._id selected=(option.name === subCategory))  #{option.name}
        button.button(type='submit') Submit
