extends layout

block content
    p.title #{title}

    
    each error in err 
        p.error #{error}

    form.create(method='POST' action='' enctype="multipart/form-data")
        div.inputWrap
            label(for='name') Name:
            input.input#name(type='text', name='name', required,value=(undefined===name ? '' : name))
        div.inputWrap
            label(for='description') Description:
            input.input#description(type='text', name='description', required,value=(undefined===description  ? '' : description))
        div.inputWrap
            label(for="category") 
            select.input(type='select' placeholder='Select Category' name='category' required='true')
                option(value="") Select Category
                each option in categorys
                    option(value=option._id selected=(option.name === categoryName)) #{option.name}
        button.button(type='submit') Submit
