extends layout

block content
    p #{title}

    p 
        each error in err 
            p #{error}

    form(method='POST' action='')
        label(for='name') Name:
        input#name(type='text', name='name', required,value=(undefined===name ? '' : name))
        br
        label(for='description') description:
        input#description(type='text', name='description', required,value=(undefined===description  ? '' : description))
        br
        label(for="category") Category:
        select(type='select' placeholder='Select Category' name='category' required='true')
            option(value="") Select Category
            each option in categorys
                option(value=option._id selected=(option.name === category.name)) #{option.name}
        br
        button(type='submit') Submit
