.title{
    /*Class for title */
    font-size: var(--big);
}

/*form styles*/


.error{
    /*Class for error */
    color:red;
}

.create{
    /*Class for forms element*/
    display: flex;
    flex-direction: column;
    gap: var(--normal);
    border: solid var(--dark) 2px;
    padding: var(--normal);
    align-items: flex-end;

}
.inputWrap{
    /* Wrap around label+input*/
    display: flex;
    justify-content: flex-end;
    gap: var(--normal);
    align-items: center;
}

.input{
    font-size: var(--normal);
    padding: var(--small)
}

.button{
    /*Class for button*/
    width: calc(var(--normal)*5);
    border-radius: var(--small);
    font-size:var(--normal);
    color:var(--light);
    background-color: var(--dark);
}
/*list*/
.list{
    /*Class for lists*/
    display: flex;
    flex-direction: column;
    gap:var(--normal);
}
.listItem{
    display:flex;
    flex-direction: column;
    gap:var(--small);
}

.itemTitle{
    width: fit-content;
    border-bottom: solid 2px var(--dark);
    
}

.text{
    /*Class for text*/
    font-size: var(--small);
}