.title{
    /*Class for title */
    font-size: var(--big);
    margin:var(--big);
}
.subTitle{
    font-size: var(--normal);
    margin:var(--normal);
    font-weight: bold;
}
.marked{
    font-weight: bold;
    border-bottom:solid var(--dark) 2px;
}

.textWrap{
    display: flex;
    justify-content: space-between;
    gap:var(--small)
    
}

.imgWrap{
    max-height: 300px;
    overflow: hidden;
}
.imgWrap>img{
    width:100%;
    height:auto
}

/*form styles*/


.error{
    /*Class for error */
    color:red;
}

.create{
    /*Class for forms element*/
    display: flex;
    flex-direction: column;
    gap: var(--normal);
    border: solid var(--dark) 2px;
    padding: var(--normal);
    align-items: flex-end;

}
.inputWrap{
    /* Wrap around label+input*/
    display: flex;
    justify-content: flex-end;
    gap: var(--normal);
    align-items: center;
}

.input{
    font-size: var(--normal);
    padding: var(--small)
}

.button{
    /*Class for button*/
    /* width: calc(var(--normal)*5); */
    border-radius: var(--small);
    font-size:var(--normal);
    color:var(--light);
    background-color: var(--dark);
    padding:calc(var(--small)/2);
}

/*list*/
.list{
    /*Class for lists*/
    display: flex;
    flex-direction: column;
    gap:var(--normal);
}
.listItem{
    display:flex;
    flex-direction: column;
    gap:var(--small);
}

.itemTitle{
    width: fit-content;
    border-bottom: solid 2px var(--dark);
    
}

.text{
    /*Class for text*/
    font-size: var(--small);
}

/* Read */
.readHead{
    margin:var(--normal);
    display: flex;
    justify-content: space-around;
    gap:var(--normal);
}
.readHead > .button {
    border-radius: var(--small);
    background-color: var(--middle);
    color:black;
    border: solid var(--dark) 4px;
}
.border{
    background-color: black;
}
.read{
   display:grid;
   grid-template-columns: 1fr  2fr; 
   grid-gap: 4px;
}

.read > .entry {
    background-color:var(--light);
    padding:var(--normal)
  }

  .left{
    font-size: var(--normal);
  }
  .right{
    font-size: var(--normal);
  }

  .readSub{

  }
  .readSubTitle{
    font-size: var(--normal);
    border-bottom: solid var(--dark) 4px;
  }
  .readSubText{
    font-size:var(--small);
    margin:var(--small)
  }