
.outerWrap{
    --dark:black;
    --light:white;
    --big:calc(var(--normal)*1.6);
    --normal:calc(var(--small)*1.6);
    --small:1rem;
    min-height:100dvh;
    font-size: var(--normal);
}

.innerWrap{
    min-height:100dvh;
    max-width: 80rem;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
}

.header{
    border:solid black 1px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:var(--normal);
}

#dropdown{
    position:relative;
}
#menu{
    
    position: absolute;
    background: grey;
    display: flex;
    flex-direction: column;
    gap: var(--small);
    visibility: hidden;
    padding: var(--small);
    transform: translate(calc(var(--small)/-1),0px);
}

.main{
    border:solid black 1px;
    flex:1;
}

